# Dependencies
node_modules/
**/node_modules/

# Lockfiles (RECOMENDADO: sí subir)
# (Si usas npm, sube package-lock.json)
# (Si usas yarn, sube yarn.lock)
# (Si usas pnpm, sube pnpm-lock.yaml)
# Por eso NO los ignoramos

# Production
build/
dist/
**/build/
**/dist/

# Testing
coverage/
**/coverage/

# Misc
.DS_Store
.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/
*.swp
*.swo
